<!doctype html>
<html lang="en" ng-app>
<head>
	<meta charset="utf-8">
	<title>Google Phone Gallery</title>
	<link href="stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
	<link href="stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
	<!--[if IE]>
	  <link href="stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
	<![endif]-->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>

</head>
<body>
	<div class="row">
		<form>
			<label for="info-freands">My Freands</label>
			<select name="" id="info-freands"></select>
		</form>

		<ul>
			<li>{{2+2}}</li>
		</ul>

	</div>
	
	<div class="row">
		<input type="text" ng-model="name">
		hello {{name}}
	</div>

	
	
	<div class="row">
		<input type="checkbox" ng-model="ShowCheck">
		<div ng-show="ShowCheck">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam ducimus, aperiam maxime explicabo voluptatum temporibus repudiandae iusto, nihil quae nulla adipisci veritatis tempora sint modi. Possimus numquam dolores tempora hic!</div>
	</div>
	
</body>
</html>
